$breakpointsToWidthMap: (
  '576px': 540px,
  '768px': 720px,
  '992px': 960px,
  '1200px': 1140px,
);


.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: auto;
  margin-left: auto;

  @each $bp, $max-width in $breakpointsToWidthMap {
    @media (min-width: $bp) {
      max-width: $max-width;
    }
  }
}


.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  display: inline-block;
  margin: 4px;
  padding: 16px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
      0 2px 2px 0 rgba(0,0,0,.14),
      0 1px 5px 0 rgba(0,0,0,.12);
}