@import 'vars';
@import 'layout';
@import 'fonts';

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}